// Variables
$primary-bg: linear-gradient(to right, #093028, #237A57);
$text-color: #e0e0e0;
$accordion-bg: rgba(255, 255, 255, 0.1);
$accordion-hover-bg: rgba(255, 255, 255, 0.2);

.carrovista {
  background: $primary-bg;
  max-width: 100%;
  min-height: 90vh;
  padding: 20px;
}
.tabla-carro {
  .tabla-carro {
    font-size: 0.9rem;
  
    th, td {
      padding: 0.4rem 0.5rem !important;
      text-align: center;
      vertical-align: middle;
    }
    .btn {
      border-radius: 50px;
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
    }
    td:last-child {
      display: flex;
      justify-content: center;
      gap: 4px;
    }
  }  
}